@define-color background rgba(33, 0, 77, 0.5); 
@define-color bgmusic rgba(51, 0, 122, 0.7); 
@define-color text #DFDFDF;
@define-color borders #4F4FB8;
@define-color urgent #D12121;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'IBM Plex Sans Var', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: transparent; 
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* .modules-left, */
.modules-center {
    background: black;
    border-radius: 3px;
}

#tray {
    border-radius: 3px;
    background-color: #121212;
    margin: 0 5px;
}

window#waybar.empty > .modules-left,
window#waybar.empty > .modules-center,
window#waybar.empty > .modules-right {
    background-color: @background;
}

#mpris {
    transition-duration: .2s;
    transition-property: background-color;
    padding: 0 3px;
    background-color: @bgmusic;
    color: @text;
    border-radius: 3px;
}

#mpris.playing {
    background-color: rgba(0, 138, 108, 0.7);
}



button {
    /* Use box-shadow instead of border so the text isn't offset */
    background-color: rgba(0, 0, 0, 0);
    /* Avoid rounded borders under each button name */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    /* box-shadow: inset 0 -3px #ffffff; */
}

@keyframes hoverThingyBg {
  to { background-color: #121212; }
}

@keyframes activeThingyBg {
    to { background-color: #000000; }
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#power-profiles-daemon:hover, 
#temperature:hover {
    background-color: rgba(163, 120, 0, 0.5);
}


#workspaces button {
    padding: 0 3px;
    border: 1px solid #4a4a4a;
    background-color: black;
    transition-property: background-color;
    transition-duration: .2s;
    color: #ffffff;
}

#workspaces button:hover {
    background-color: #323232;
}

#workspaces button.active {
    background-color: #2a0951;
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#temperature,
#cpu,
#memory,
#pulseaudio,
#network,
#idle_inhibitor {
    padding: 0 5px;
}


#clock,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon {
    /* border-left: 3px solid rgba(36, 6, 92, 1); */
    /* border-right: 3px solid rgba(36, 6, 92, 1); * */
    transition-duration: .2s;
    transition-property: background-color;
    margin: 0 5px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-left: 0;
}

#workspaces > button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* If workspaces is the rightmost module, omit right margin 
.modules-right > widget:last-child > #workspaces && #mpris:not(.playing) {
    border-top
    margin-right: 0;
}
*/

#clock {
}

#battery {
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    box-shadow: inset 0 -3px #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.warning:not(.charging) {
    box-shadow: inset 0 -3px #dbeb4b;
    color: #ffffff;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    box-shadow: inset 0 -3px;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 3px;
}

#power-profiles-daemon.performance {
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    box-shadow: inset 0 -3px #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    box-shadow: inset 0 -3px #2ecc71;
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: #ffffff;
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
    background-color: rgba(245, 60, 60, 0.5);
}

#pulseaudio {
    color: #ffffff;
}

#pulseaudio.muted {
    box-shadow: inset 0 -3px #727272; 
    color: #ffffff;
}

#wireplumber {
    color: #ffffff;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

#temperature.critical {
    box-shadow: inset 0 -3 #eb4e4b;
}

#tray {
    background-color: rgba(34, 34, 34, 0.5);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
