@define-color background rgba(33, 0, 77, 0.5); 
@define-color bgmusic rgba(51, 0, 122, 0.7); 
@define-color text #DFDFDF;
@define-color borders #4F4FB8;
@define-color urgent #D12121;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'IBM Plex Sans Var', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: transparent; 
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    background-color: rgba(0, 0, 0, 0);
    /* Avoid rounded borders under each button name */
}

/*
window#waybar.empty {
    background-color: transparent;
}
*/

#mpris {
    transition-duration: .2s;
    transition-property: background-color;
    padding: 0 3px;
    background-color: @bgmusic;
    color: @text;
    border-radius: 3px;
}
#mpris.playing {
    background-color: rgba(0, 138, 108, 0.7);
}


.modules-center {
    background: black;
    border-radius: 3px;
}


#system {
    margin: 0 10px;
    background-color: #000000;
    border-radius: 3px;
}
#temperature {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
#temperature.critical {
    background-color: #eb4e4b;
}
#cpu {
    color: #ffffff;
}
#memory {
}


#systemTray {
    border-radius: 3px;
    background-color: #222222;
}
#idle_inhibitor,
#pulseaudio,
#network,
#battery,
#tray {
    padding: 0 5px;
}
#idle_inhibitor {
    background-color: #2d3436;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
#pulseaudio {
    color: #ffffff;
}
#pulseaudio.muted {
    box-shadow: inset 0 -3px #727272; 
    color: #ffffff;
}
#network {
}
#network.disconnected {
    background-color: rgba(245, 60, 60, 0.2);
}
#battery {
    color: #ffffff;
}
#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: rgba(38, 166, 91, 0.2);
}
@keyframes blink {
    to {
        background-color: rgba(218, 7, 7, 0.2);
    }
}
#battery.warning:not(.charging) {
    background-color: rgba(219, 235, 75, 0.2);
    color: #ffffff;
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}


#clock {
}


/* you can set a style on hover for any module like this */
#pulseaudio:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#power-profiles-daemon:hover, 
#temperature:hover,
#battery:hover {
    background-color: rgba(163, 120, 0, 0.5);
}


#workspaces button {
    padding: 0 3px;
    border: 1px solid #4a4a4a;
    background-color: black;
    transition-property: background-color;
    transition-duration: .2s;
    color: #ffffff;
}

#workspaces button:hover {
    background-color: #323232;
}
#workspaces button.active {
    background-color: #2a0951;
}
#workspaces button.focused {
    background-color: #64727D;
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}


#clock,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon {
    /* border-left: 3px solid rgba(36, 6, 92, 1); */
    /* border-right: 3px solid rgba(36, 6, 92, 1); * */
    transition-duration: .2s;
    transition-property: background-color;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0px;
}

/* If workspaces is the leftmost module, omit left margin 
.modules-left > widget:first-child > #workspaces {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-left: 0;
}
*/

/* If workspaces is the rightmost module, omit right margin 
.modules-right > widget:last-child > #workspaces && #mpris:not(.playing) {
    border-top
    margin-right: 0;
}
*/

#power-profiles-daemon {
    padding-right: 3px;
}

#power-profiles-daemon.performance {
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    box-shadow: inset 0 -3px #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    box-shadow: inset 0 -3px #2ecc71;
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#disk {
}

#backlight {
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
